
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #545454;
  font-weight: 600;
  background-color: #f1f1f1;
}

a {
  color: #f18e92;
  text-decoration: none;
}

.highlight {
  font-weight: normal;
  font-family: 'Libre Baskerville', serif;
}

[class*="limits"] {
  padding: 0 5%;
}

.limits__bg {
  background-color: #fff;
}
